@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 300;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 300;
    background-size: 100%;
}
body ::-webkit-input-placeholder {
    /* WebKit browsers */
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 300;
}
body :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    opacity: 1;
    font-weight: 300;
}
body ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    opacity: 1;
    font-weight: 300;
}
body :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 300;
}
.wrapper {
    background: dodgerblue;
    /*background: -webkit-gradient(linear, left top, right bottom, from(#50a3a2), to(#53e3a6)); */
    /*background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);*/
    width: 50%;
    height: 100%;
    margin-top: 9.5%;
    margin-right: 3.5%;
    overflow: hidden;
    float: right;
}
.wrapper.form-success .container h1 {
    -webkit-transform: translateY(85px);
    transform: translateY(85px);
}
.container {
    /* max-width: 100%; */
    margin: 0 auto;
    padding: 50px;
    /* height: 400px; */
    text-align: center;
    height: auto;
    transform: translate(-50%, -50%);
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: dodgerblue;
    width: 50%;
    margin-top: 2%;
}
.container h1 {
    font-size: 40px;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;

    font-weight: 200;
}
form {
    padding: 20px 0;
    align: right;
    z-index: 2;
}
form input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: white;
    width: auto;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: dodgerblue;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    font-weight: 300;
}

p.titlu {
    font-size: 25px;
}

form input::placeholder {
    color: dodgerblue;
}
form input:hover {
    background-color: whitesmoke;
}
form input:focus {
    background-color: whitesmoke;
    width: 300px;
    color: black;
}

form button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    color: dodgerblue;
    border-radius: 3px;
    width: 250px;
    cursor: pointer;
    font-size: 18px;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
}
form button:hover {
    background-color: #f5f7f9;
}

select {
    margin: 0 auto 10px auto;
    color: dodgerblue;
}

div.nav {
    padding: 0;
    display: inline-flex;
    width: 100%;
    background-color: dodgerblue;
    margin: 0;
    height: 7%
}

div.nume {
    float: unset;
    padding: 1%;
}

div#data {
    display: table;
    margin: 0 auto;
    padding: 1%;
}

button.logout {
    border-radius: 12px;
    height: 50%;
    width: 10%;
    margin-top: 0.9%;
    margin-right: 0.9%;
}
div.page {
    height: 100%;
    width: 100%;
}